@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-weight: 200;
}

h4 {
  width: 600px;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 14px;
  font-weight: 100;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

svg g {
  font-size: 12px;
  font-family: sans-serif;
}

.xLabel {
  font-weight: bold;
}

.monthLabel {
  font-size: 12px;
}

.yLabel {
  font-weight: bold;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip {
  line-height: 1.5em;
  font-size: 1.2em;
}

.variance {
  font-size: .8em;
}